/dejavu-sans-bold.ttf
/DejaVuSans.ttf
/main.py
/maths_past_questions.csv
/MCQ2_Topicwise.pdf
/MCQ_Topicwise_corrected.pdf
/tempCodeRunnerFile.py
/test.java
/test2.py
/test3.py
/test4.py
/test5.py
/test6.py
/test7.py
/test8.py
/test9.py